[Unit]
Description=Celery Service for Your Django Project
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/Tender_Data
ExecStart=/root/Tender_Data/venv/bin/celery -A tender_config beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler

[Install]
WantedBy=multi-user.target
